*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: normal;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
    color: #000000;
}

button {
    border: none;
}

.grid-container{
    display: grid;
    grid-template-columns: 250px 1fr 1fr 1fr;
    grid-template-rows: 120px 1fr 1fr 1fr;
    gap: 24px;
    grid-row-gap: 30px ;
}

.sidebar-container {
    width: 250px;
    background: #FBF9F8;
    min-height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}

.sidebar-container nav {
    padding: 0 1.7rem;
    margin-bottom: 25rem;
}

.sidebar-container a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.sidebar-container i{
    font-size: 1.7rem;
    opacity: 0.4;
}

.sidebar-container li{
    margin-bottom: 29px;
}

.sidebar-container span{
    opacity: 0.7;
}

.icon-container {
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    width: 30px;
}

#logo {
    padding: 1.7rem;
    margin-bottom: 50px;
}

.profile-container{
    min-height: 30vh;
    background: #f9f2ef;
    padding: 1.7rem;
    /* justify-content: center; */
}

.profile-container > p {
    color: #000000;
    opacity: 0.5;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.profile-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}

.profile-wrapper p{
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
}

#shopper {
    color: #ff9c00;
    font-size: 12px;
    font-weight: 600;
}

.profile-container button {
    border-radius: 8px;
    background: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    padding: 14px 27px;
}

.profile-container button i{
    margin-right: 12px;
    opacity: 1;
    font-size: 20px;
}

.header-container{
background: #ffffff;
grid-column: 2 / span3;
}


.order-status-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 9px;
    background: #FFF;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    /* max-width: 325px; */
    min-height: 100px;
}

.child1{
    grid-column: 2/3;
    grid-row: 2/3;
} 

.child2{
    grid-column: 3/4;
    grid-row: 2/3;
} 

.child3{
    grid-column: 2/3;
    grid-row: 3/4;
} 

.child4{
    grid-column: 3/4;
    grid-row: 3/4;
} 

.order-action-container{
    border-radius: 9px;
    background: #FFE3B7;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    /* max-width: 325px; */
    height: 11.6rem;
    margin-top: -85px;
    position: relative;
}

.order-action-container img{
    position: absolute;
    bottom: 1.4rem;
    right: 1.4rem;
}

.order-action-container p{
    color: #6D6D6D;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1.4rem;
}

.order-container{
    max-height: 20px;
    border-bottom: 1px solid #E3E3E3;
    margin-bottom: 0;
    margin-left: 22%;
    
}
.child0{
    grid-column: 1/4;
    grid-row:4/5;
}
    
.child5{
    grid-column: 2/3;
    grid-row: 5/6;
} 


.child6{
    grid-column: 3/4;
    grid-row: 5/6;
}
.order-statistic-container{
    border-radius: 9px;
    background: #FFF;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.25);
    
}

.child7{
    grid-column: 4/5;
    grid-row: 2/6;
}

.order-statistic-container h3{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: 1.4rem;
    margin-top: 1rem;
    margin-bottom: 1.4rem;
} 

.order-statistic-container h4{
    margin-left: 1.4rem;
}

.block-main{
    display: flex;
    justify-content: space-between;
    margin-left: 1.4rem;
    margin-right: 1.4rem;
}

.little-block1,
.little-block2{
    display: flex;
    gap: 10px ;
    margin-bottom: 10px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.header-container .first,
.header-container .second{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    padding-top: 2.7rem;
    padding-left: 1.6rem;
    padding-right: 3rem;
    font-style: normal;
}

.round{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    font-size: 1.7rem;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 25px solid #ff9c00;
    margin-top: -2.1rem;
}

.Total-product, .Total-sales, .Pending-orders,.Delivery {
    margin-left: 1.4rem;
    
}

.Total-product h2,
.Total-sales h2,
.Pending-orders h2,
.Delivery h2{
    color: #FF9C00;
    font-family: 'Inter', sans-serif;
    font-size: 2.6rem;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 10px;
}

.Total-product h3,
.Total-sales h3,
.Pending-orders h3,
.Delivery h3{
    color: #FF9C00;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
}

.icon-container1 img{
    margin-right: 1.3rem;
}

.order-action-container h3{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 3rem;
    margin-left: 1.4rem;
    padding-bottom: 10px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header-container .first,
.header-container .second{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 1.7rem;
    font-weight: 500;
    padding-top: 2.7rem;
    padding-left: 1.6rem;
    padding-right: 3rem;
    font-style: normal;
}

.icon-container1 img{
    margin-right: 1.3rem;
}

.stock1{
    color: #000;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
}

.stock2{
    color: #DD3A3A;;
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
}



.overflow{
    overflow-y: scroll;
    max-width: 440px;
    max-height: 260px;
    padding: 6px 18px 18px;
    border: 1px solid rgb(253, 251, 251);

}


.order-statistic-container::webkit-scrollbar {
    width: 10px;
    background-color: #E3E3E3;

}  




@media only screen and  (min-width: 800px) and (max-width: 1200px) {
    .grid-container {
        grid-template-columns: 250px 1fr 1fr;
        grid-template-rows: 120px repeat(8, 1fr);
        grid-template-rows: 70px;
    }

    .header {
        grid-column: 2 / span2;
    }
    .child0{
        grid-column: 1/4;
        grid-row: 5/6;
    }
    
    .child5{
        grid-column: 2/3;
        grid-row: 6/7;
        margin-top: 1rem;
    }
    
    .child6{
        grid-column: 3/4;
        grid-row: 6/7;
        margin-top: 1rem;
    }
    .child7 {
        grid-column: 2/4;
        grid-row: 7/8;
    }
    
    .order-statistic-container h3{
        margin-left: 7rem;
        margin-top: 5rem;
    }
    .little-block1, .little-block2{
        margin-left: 6rem;
    }

    .round{
        margin-right: 2rem;
        margin-top: -4rem;
    }

    .overflow{
        margin-left: 5rem;
    }

    .order-statistic-container h4{
        margin-left: 6rem;
        margin-bottom: 1rem;
    }

    .order-status-container{
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 1rem;
        height: 15rem;
        
    }


.Total-product h2,
.Total-sales h2,
.Pending-orders h2,
.Delivery h2{
    margin-top: 1rem;
}
    .order-status-container img{
        margin-top: 40px;
        margin-left: 10%;
    }

}
/* создать media query для экрана 350-800px (для экрана 801-1200 сделали на занятии) от 1200px как в макете  */
@media only screen and (min-width: 350px) and (max-width: 800px) {
    .grid-container {
        grid-template-columns: 250px;
    }
    
    .child1{
        grid-column: 2/3;
        grid-row: 2/3;
        height: 70px;
        margin-bottom: 1rem;
        
    }
    .child2{
        grid-column: 2/3;
        grid-row: 3/4;
        height: 70px;
    }
    .child3{
        /* grid-column: 2/4; */
        grid-row: 4/5;
        height: 70px;
    }
    .child4{
        grid-column: 2/3;
        grid-row: 5/6;
        height: 70px;
    }

    .child0{
        grid-column: 1/4;
        grid-row: 6/7;
        height: 70px;
    }

    .child5{
        grid-column: 2/3;
        grid-row: 7/8;
        height: 130px;
        margin-top: 2rem;
    }

    .child6{
        grid-column: 2/3;
        grid-row: 9/10;
        height: 130px;
        margin-top: -0.3rem;
    }

    .child7{
        grid-column: 2/3;
        grid-row: 10/11;
        height: 550px;
        margin-top: 1.5rem;
    }
    
    .order-action-container p{
        font-size: 12px;
    }

    .header-container .second,
    .header-container .first{
        font-size: 1.3rem;
    }



}
